 <nav class="hover-underline-menu" data-menu-underline-from-center>
        <ul class="menu align-center">
          <li><a href="#home">Home</a></li>
          <li><a href="#browser.handlerbars">browser</a></li>
          li><a href="#vc.handlebars">VC</a></li>
          <li><a href="#startup.handlebars">Startup</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </nav>



      <div style="margin-bottom: 50px"></div>
      <!-- <p>Place your image inside the <code>.card-section</code> wrapper to have padding around it.</p> -->
<div class="grid-container">
  <div class="grid-x grid-padding-x medium-unstack equal-height-cards">
    <div class="cell medium-4">
      <div class="card">
        <div class="card-section">
          <img src="assets/img/aminocapital.png/500/300/">
          {{!-- <h4>This is a card.</h4>
          <p>It has an easy to override visual style, and is appropriately subdued.</p>
        </div>
        <div class="card-divider">
          <ul class="menu">
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul> --}}
        </div>
      </div>
    </div>
    <div class="cell medium-4">
      <div class="card">
        <div class="card-section">
          <img src="https://unsplash.it/500/300/">
          <h4>This is a card.</h4>
          <p>It has an easy to override visual style, and is appropriately subdued. This particular card has a bit of extra content that pushes it's height taller than the rest. There is even this extraneous sentence to exaggerate the point.</p>
        </div>
        <div class="card-divider">
          <ul class="menu">
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="cell medium-4">
      <div class="card">
        <div class="card-section">
          <img src="https://unsplash.it/500/300/">
          <h4>This is a card.</h4>
          <p>It has an easy to override visual style, and is appropriately subdued.</p>
        </div>
        <div class="card-divider">
          <ul class="menu">
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="cell medium-4">
      <div class="card">
        <div class="card-section">
          <img src="https://unsplash.it/500/300/">
          <h4>This is a card.</h4>
          <p>It has an easy to override visual style, and is appropriately subdued.</p>
        </div>
        <div class="card-divider">
          <ul class="menu">
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="cell medium-4">
      <div class="card">
        <div class="card-section">
          <img src="https://unsplash.it/500/300/">
          <h4>This is a card.</h4>
          <p>It has an easy to override visual style, and is appropriately subdued.</p>
        </div>
        <div class="card-divider">
          <ul class="menu">
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="cell medium-4">
      <div class="card">
        <div class="card-section">
          <img src="https://unsplash.it/500/300/">
          <h4>This is a card.</h4>
          <p>It has an easy to override visual style, and is appropriately subdued.</p>
        </div>
        <div class="card-divider">
          <ul class="menu">
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin-bottom: 90px"></div>


<div class="row top-margin" style="text-align:center">
  <div class="column align-self-middle">
    <div class="callout callout-hover-reveal" data-callout-hover-reveal>
      <div class="callout-body">
        <h2> All VC </h2>
        <!-- <p>I'll show you Bill Murray in the callout footer.</p> -->
      </div>
    </div>
  </div>
</div>


<div style="margin-bottom: 90px"></div>


<table id="vc-data" class="display nowrap" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th>Industies</th>
      <th>Industries</th>
      <th>City</th>
      <th>Stage</th>
      <th>Priority</th>
      <th>Start date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th>Industies</th>
      <th>Industries</th>
      <th>City</th>
      <th>Stage</th>
      <th>Priority</th>
      <th>Start date</th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th>Industies</th>
      <th>Industries</th>
      <th>City</th>
      <th>Stage</th>
      <th>Priority</th>
      <th>Start date</th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th>Industies</th>
      <th>Industries</th>
      <th>City</th>
      <th>Stage</th>
      <th>Priority</th>
      <th>Start date</th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th>Industies</th>
      <th>Industries</th>
      <th>City</th>
      <th>Stage</th>
      <th>Priority</th>
      <th>Start date</th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th>Industies</th>
      <th>Industries</th>
      <th>City</th>
      <th>Stage</th>
      <th>Priority</th>
      <th>Start date</th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th>Industies</th>
      <th>Industries</th>
      <th>City</th>
      <th>Stage</th>
      <th>Priority</th>
      <th>Start date</th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th>Industies</th>
      <th>Industries</th>
      <th>City</th>
      <th>Stage</th>
      <th>Priority</th>
      <th>Start date</th>
    
  <tfoot>
      <tr>
        <th>Name</th>
        <th>Website</th>
        <th>Industies</th>
        <th>Industries</th>
        <th>City</th>
        <th>Stage</th>
        <th>Priority</th>
        <th>Start date</th>
      </tr>
  </tfoot>
</table>

<div style="margin-bottom: 90px"></div>

<script>

  /*------navbar----------*/
  
  $("[data-menu-underline-from-center] a").addClass("underline-from-center");

  /*-----------------navbarend-----------*/

/*-----------callout----------*/

  $(function(){
  $('[data-callout-hover-reveal]').hover(function(){
    $(this).find('.callout-footer').slideDown(250);
      },function(){
    $(this).find('.callout-footer').slideUp(250);
    });
  })
  
  /*----------------table----------------*/
  $(document).ready(function() {
	    var table = $('#example').DataTable( {
		   responsive: {
			  details: {
				renderer: function ( api, rowIdx, columns ) {
					var data = $.map( columns, function ( col, i ) {
						return col.hidden ?
							'<tr data-dt-row="'+col.rowIndex+'" data-dt-column="'+col.columnIndex+'">'+
								'<td>'+col.title+':'+'</td> '+
								'<td>'+col.data+'</td>'+
							'</tr>' :
							'';
					} ).join('');
                  var extra = "'<tr>'+'<td>21</td> '+'<td>32</td>'+'</tr>'";
				return data ?$('<table/>').append( data ).append( extra ) :false;
				}
			}
		}
	} ); // end of DataTable                            
  } );
  

/*------table-------*/

$(document).ready(function() {
    $('#example').DataTable( {
        "scrollY":        "200px",
        "scrollCollapse": true,
        "paging":         false
    } );
} );

$(document).ready(function() {
    $('#example').DataTable( {
        "pagingType": "full_numbers"
    } );
} );


$(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#example tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );
 
    // DataTable
    var table = $('#example').DataTable({
        initComplete: function () {
            // Apply the search
            this.api().columns().every( function () {
                var that = this;
 
                $( 'input', this.footer() ).on( 'keyup change clear', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
        }
    });
 
} );
</script>

