 <nav class="hover-underline-menu" data-menu-underline-from-center>
        <ul class="menu align-center">
          <li><a href="#">Home</a></li>
          <li><a href="#">Client</a></li>
          <li><a href="#">VC</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </nav>