  <nav class="top-bar topbar-responsive">
      <div class="top-bar-title">
        <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
          <button class="menu-icon" type="button" data-toggle></button>
        </span>
        <a class="topbar-responsive-logo" href="#"><strong>Connect U</strong></a>
   <!-- <a href="#"><img class="logo" src="assets/img/connectlogo.png" width=200px height=200px ></a> -->
      </div>
      <div id="topbar-responsive" class="topbar-responsive-links">
        <div class="top-bar-right">
          <ul class="menu simple vertical medium-horizontal">
           
            <li>
               <button type="button" class="button hollow topbar-responsive-button">Log In</button>
             </li>
            <li>
              <button type="button" class="button hollow topbar-responsive-button">Sign up</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    
    <section class="hero1"></section>



  <div class="columns shrink footer text-center">
            <div style="margin-bottom: 150px"></div>
               
            <ul id="footer ul" class="menu align-center">
                {{!-- <li>Made-Connect &#252</li>
            </ul> --}}
          </div>
    