{{!-- 
    <div class="hero">
        <div class="form-box">
               <div class="button-box">
                   <div id="btn"></div>
                   <button type="button" class="toggle-btn" onclick="login()" >Log In</button>
                   <button type="button" class="toggle-btn" onclick="signup()" >Sign Up</button>
                </div>

            <form id="login" class="input-group">
                 <input type="text" class="input-field" placeholder="User Email" required>
                 <input type="text" class="input-field" placeholder="Enter Password" required> 
                 <input type="checkbox" class="check-box"><span>Remember Password</span>
                 <button type="submit" class= "submit-btn">Log In</button>
            </form>

            <form id="signup" class="input-group">
                 <input type="text" class="input-field" placeholder="User Id" required>
                 <input type="email" class="input-field" placeholder="Email Id" required>
                 <input type="text" class="input-field" placeholder="Enter Password" required> 
                 <br>
                 <br>
                 <legend>Choose Your Field</legend>
                 <input type="radio" class="check-box1" name="pokemon" value="Red" id="pokemonRed" required><label for="pokemonRed">VC</label>
                 <input type="radio" class="check-box1"  name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Startup</label>
                 <input type="checkbox" class="check-box"><span>I agree to the terms & conditions</span>
                 <button type="submit" class= "submit-btn">Sign up</button>
            </form>
        </div>
    </div>

    <script>

       var x = document.getElementById("login");
       var y = document.getElementById("signup");
       var z = document.getElementById("btn")


      function signup() {
        x.style.left = "-400px";
        y.style.left = "50px";
        z.style.left = "110px";

      }

      function login() {
        x.style.left = "50px";
        y.style.left = "450px";
        z.style.left = "0px";
      }

    </script> --}}




<div class="hero">
  <div class="form-box">
    <div class="button-box">
      <div id="btn"></div>
      <button type="button" class="toggle-btn">Log In</button>
      <button type="button" class="toggle-btn">Sign Up</button>
    </div>

    {{!-- <div class="social-icons">
      <img src="">
    </div> --}}

    <form class="input-group">
     <input type="text" clas="input-field" placeholder=" User Id" required>
       <input type="text" clas="input-field" placeholder=" Enter Password" required>
       <input type="check-box" class="check-box"><span>Remember Password</span>
       <button type="submit" class="submit-btn">Log In</button>
    </form>
  </div>
    
</div>

