	
     <link rel="stylesheet" href="/assets/css/stylelogin.css">

    <div class="hero">
        <div class="form-box">
               <div class="button-box">
                   <div id="btn"></div>
                   <button type="button" class="toggle-btn" onclick="login()" >Log In</button>
                   <button type="button" class="toggle-btn" onclick="signup()" >Sign Up</button>
                </div>

            <form id="login" class="input-group">
                 <input  id="email-input" type="text" class="input-field" placeholder="User Email" required>
                 <input id="password-input" type="password" class="input-field" placeholder="Enter Password" required> 
                 <input type="checkbox" class="check-box"><span>Remember Password</span>
                 <button type="submit" class= "submit-btn">Log In</button>
            </form>

            <form id="signup" class="input-group">
                 <input id="username-input" type="text" class="input-field" placeholder="User Name" required>
                 <input id="signupemail-input" type="email" class="input-field" placeholder="Email Id" required>
                 <input id="signuppassword-input" type="text" class="input-field" placeholder="Enter Password" required> 
                  <div id = "alert"></div>
                 <br>
                
                 <legend>Choose Your Field</legend>
                 <input type="radio" class="check-box1" name="pokemon" value="Red" id="pokemonRed" required><label for="pokemonRed">VC</label>
                 <input type="radio" class="check-box1"  name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Startup</label>
                 <input type="checkbox" class="check-box"><span>I agree to the terms & conditions</span>
                 <button type="submit" class= "submit-btn">Sign up</button>
            </form>
        </div>
    </div>

    <script src="/js/login.js"></script>

    <script src="/js/signup.js"></script>

    <script src="/script/login-signup.js"></script>







