
 <link rel="stylesheet" href="/assets/css/registervc.css">

<div style="margin-bottom: 50px"></div>
  
    {{!-- /*-----------------VC Registration form---------------*/ --}}

    <div class="wrapper">
          <div class="title">
            VC Registration Form
          </div>
      <div class="form">
          <div class="inputfield">
              <label>First Name</label>
              <input type="text" class="input">
          </div>  
          <div class="inputfield">
              <label>Website</label>
              <input type="text" class="input">
          </div> 

          <div class="inputfield">
              <label>City</label>
              <input type="text" class="input">
          </div> 
          <div class="inputfield">
              <label>State</label>
              <input type="text" class="input">
          </div> 
          <div class="inputfield">
                <label>Industries 1</label>
                <input type="insdustries" class="input">
          </div>  
          <div class="inputfield">
                <label>Industries 2</label>
                <input type="industries" class="input">
                
          </div> 
          <div class="inputfield">
              <label>Stage</label>
              <input type="text" class="input">
          </div> 
          <div class="inputfield">
             <label>Priority</label>
             <input type="text" class="input">
          </div> 
          <div class="inputfield">
               <label>Lead</label>
               <input type="text" class="input">
          </div> 
          <div class="inputfield">
              <input type="submit" value="Register" class="btn">
        </div>
      </div>
    </div>	

{{!-- /*-------------input end----------------*/ --}}