
   	 <link rel="stylesheet" href="/assets/css/stylestartup.css">

   
    <nav class="hover-underline-menu" data-menu-underline-from-center>
        <ul class="menu align-center">
          {{!-- <li><a href="/">Home</a></li> --}}
          <li><a href="/browser">browser</a></li>
          <li><a href="/vc">VC</a></li>
          <li><a href="/startup">Startup</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>

    {{!-- <div style="margin-bottom: 90px"></div> --}}

{{!-- /*----------scroll images------------*/ --}}

<div class="fullscreen-image-slider">
  <div class="orbit" role="region" aria-label="FullScreen Pictures" data-orbit>
    <ul class="orbit-container">
      <button class="orbit-previous">
        <span class="show-for-sr">Previous Slide</span>
        <span class="nav fa fa-chevron-left fa-3x"></span>
      </button>
      <button class="orbit-next">
        <span class="show-for-sr">Next Slide</span>
        <span class="nav fa fa-chevron-right fa-3x"></span>
      </button>
      <li class="is-active orbit-slide">
        <img class="orbit-image" src="/assets/img/multigrey3.jpg" alt="stair">
        <figcaption class="orbit-caption">
          <h1>Lorem ipsum dolor sit amet, <br>consectetur adipisicing elit.</h1>
        </figcaption>
      </li>
      <li class="orbit-slide">
        <img class="orbit-image" src="/assets/img/blackwhitestair1.jpg" alt="stair">
        <figcaption class="orbit-caption">
          <h1>Lorem ipsum dolor sit amet, <br>consectetur adipisicing elit.</h1>
        </figcaption>
      </li>
      <li class="orbit-slide">
        <img class="orbit-image" src="assets/img/graygoldstair4.jpg" alt="stair">
        <figcaption class="orbit-caption">
          <h1>Lorem ipsum dolor sit amet, <br>consectetur adipisicing elit.</h1>
        </figcaption>
      </li>
    </ul>
  </div>
</div> 



 <div style="margin-bottom:200px"></div>



{{!-- /*----------middle callout------------*/ --}}

    <div class="grid-x" style="text-align:center">
      <div class="column align-self-middle">
        <div class="callout callout-hover-reveal" data-callout-hover-reveal>
          <div class="callout-body">
                      {{!-- <h2> Startups</h2> --}}
            <h2> All Startup looking for VC in similar Industries </h2>
                        <h3>Startups Table</h3> 
          </div>
        </div>
      </div>
    </div>

    {{!-- /*----------middle callout------------*/ --}}
    
    <div style="margin-bottom:100px"></div>
    
    {{!-- /*---------------start of table------------------*/ --}}
    
    <table class="table-expand" id="startup-data">
  <thead>
    <tr class="table-expand-row">
      <th width="150">Name</th>
      <th width="150">Website</th>
      <th width="70">City</th>
      <th width="100">State</th>
      <th width="150">Industry</th>
      <th width="70">Stage</th>   
    </tr>
  </thead>
  <tbody>
    <tr class="table-expand-row" data-open-details>
      <td>Luna Ferregani</td>
      <td>luna@gmail.com</td>
      <td>Milan</td>
      <td>Italy</td>
      <td>Fashion Design </td>
      <td>1<span class="expand-icon"></span></td>
    </tr>

    <tr class="table-expand-row-content">
      <td colspan="8" class="table-expand-row-nested">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, 
          adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
      </td>
    </tr>
    <tr class="table-expand-row" data-open-details>
      <td>Michael Blaun</td>
      <td>mickael@gmail.com</td>
      <td>New york</td>
      <td>USA</td>
      <td>Developer</td>
      <td>TBD<span class="expand-icon"></span></td>
    </tr>

    <tr class="table-expand-row-content">
      <td colspan="8" class="table-expand-row-nested">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, 
          adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
      </td>
      </td>
    </tr>

    <tr class="table-expand-row" data-open-details>
      <td>Bruce Jackson</td>
      <td>bruce@gmail.com</td>
      <td>USA</td>
      <td>LA</td>
      <td>Marketing</td>
      <td>carried over <span class="expand-icon"></span></td>
    </tr>

    <tr class="table-expand-row-content">
      <td colspan="8" class="table-expand-row-nested">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam,
           adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
      </td>
      </td>
    </tr>

    <tr class="table-expand-row" data-open-details>
      <td>Kevin Lang</td>
      <td>kevina@gmail.com</td>
      <td>Milan</td>
      <td>Italy</td>
      <td>Tech</td>
      <td>TBD <span class="expand-icon"></span></td>
    </tr>

    <tr class="table-expand-row-content">
      <td colspan="8" class="table-expand-row-nested">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam,
           adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
      </td>
      </td>
    </tr>

    <tr class="table-expand-row" data-open-details>
      <td>Leo Ferregani</td>
      <td>luna@gmail.com</td>
      <td>USA</td>
      <td>New York</td>
      <td>Tech</td>
      <td>carried over <span class="expand-icon"></span></td>
    </tr>

    <tr class="table-expand-row-content">
      <td colspan="8" class="table-expand-row-nested">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam,
           adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
      </td>
      </td>
    </tr>

    <tr class="table-expand-row" data-open-details>
      <td>willian Ferrer</td>
      <td>willian@gmail.com</td>
      <td>LA</td>
      <td>USA</td>
      <td>Fashion Design </td>
      <td>stage 2<span class="expand-icon"></span></td>
    </tr>

    <tr class="table-expand-row-content">
      <td colspan="8" class="table-expand-row-nested">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, 
          adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
      </td>
      </td>
    </tr>

    <tr class="table-expand-row" data-open-details>
      <td>Luna Ferregani</td>
      <td>luna@gmail.com</td>
      <td>Milan</td>
      <td>Italy</td>
      <td>Fashion Design / Tech</td>
      <td>paid <span class="expand-icon"></span></td>
    </tr>

    <tr class="table-expand-row-content">
      <td colspan="8" class="table-expand-row-nested">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam,
          adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
      </td>
      </td>
    </tr>

    <tr class="table-expand-row" data-open-details>
      <td>Luna Ferregani</td>
      <td>luna@gmail.com</td>
      <td>Milan</td>
      <td>Italy</td>
      <td>Fashion Design / Tech</td>
      <td>tbd <span class="expand-icon"></span></td>
    </tr>

    <tr class="table-expand-row-content">
      <td colspan="8" class="table-expand-row-nested">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, 
          adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
      </td>
      </td>
    </tr>

    <tr class="table-expand-row" data-open-details>
      <td>Luna Ferregani</td>
      <td>luna@gmail.com</td>
      <td>Milan</td>
      <td>Italy</td>
      <td>Fashion Design / Tech</td>
      <td>3 <span class="expand-icon"></span></td>
    </tr>

    <tr class="table-expand-row-content">
      <td colspan="8" class="table-expand-row-nested">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, 
          adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
      </td>
      </td>
    </tr>

  </tbody>
</table>

    
    <div style="margin-bottom: 90px"></div>
    
       {{!-- /*---------------end of table------------------*/ --}}

  
<script src="/js/startups.js"></script>
  
    
   
    