 
    <nav class="hover-underline-menu" data-menu-underline-from-center>
        <ul class="menu align-center">
          <li><a href="#">Home</a></li>
          <li><a href="#">VC</a></li>
          <li><a href="#">Startup</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
    </nav>

  <div style="margin-bottom: 90px"></div>

    <div class="wrapper">
        <div class="title">
                 Startup Registration Form
        </div>
        <div class="form">
           <div class="inputfield">
              <label>Name</label>
              <input type="text" class="input">
           </div>  
            <div class="inputfield">
              <label>Website</label>
              <input type="text" class="input">
           </div>  
            <div class="inputfield">
              <label>City</label>
              <input type="text" class="input">
           </div> 
            <div class="inputfield">
              <label>State</label>
              <input type="text" class="input">
            </div> 
            {{!-- <div class="inputfield">
                <label>Website</label>
                <input type="text" class="input">
              </div>  --}}
            <div class="inputfield">
                <label>Industry</label>
                <input type="insdustries" class="input">
             </div>  
             
             <div class="inputfield">
              <label>Stage</label>
              <input type="text" class="input">
             </div> 
          <div class="inputfield">
            <input type="submit" value="Register" class="btn">
          </div>
        </div>
    </div>	
    
    <div style="margin-bottom: 90px"></div>


    <div class="row top-margin" style="text-align:center">
      <div class="column align-self-middle">
        <div class="callout callout-hover-reveal" data-callout-hover-reveal>
          <div class="callout-body">
            <h2> All Startup looking for VC in similar Industries </h2>
            <!-- <p>I'll show you Bill Murray in the callout footer.</p> -->
          </div>
        </div>
      </div>
    </div>
    
    
    <div style="margin-bottom: 90px"></div>
    
    {{!-- /*---------------start of table------------------*/ --}}
    
    <table class="table-expand" id="startup-data">
  <thead>
    <tr class="table-expand-row">
      <th width="150">Name</th>
      <th width="150">Website</th>
      <th width="70">City</th>
      <th width="100">State</th>
      <th width="150">Industry</th>
      <th width="70">Stage</th>   
    </tr>
  </thead>
  <tbody>
    <tr class="table-expand-row" data-open-details>
      <td>Luna Ferregani</td>
      <td>luna@gmail.com</td>
      <td>Milan</td>
      <td>Italy</td>
      <td>Fashion Design </td>
      <td>1<span class="expand-icon"></span></td>
    </tr>

    <tr class="table-expand-row-content">
      <td colspan="8" class="table-expand-row-nested">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, 
          adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
      </td>
    </tr>
    <tr class="table-expand-row" data-open-details>
      <td>Michael Blaun</td>
      <td>mickael@gmail.com</td>
      <td>New york</td>
      <td>USA</td>
      <td>Developer</td>
      <td>TBD<span class="expand-icon"></span></td>
    </tr>

    <tr class="table-expand-row-content">
      <td colspan="8" class="table-expand-row-nested">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, 
          adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
      </td>
      </td>
    </tr>

    <tr class="table-expand-row" data-open-details>
      <td>Bruce Jackson</td>
      <td>bruce@gmail.com</td>
      <td>USA</td>
      <td>LA</td>
      <td>Marketing</td>
      <td>carried over <span class="expand-icon"></span></td>
    </tr>

    <tr class="table-expand-row-content">
      <td colspan="8" class="table-expand-row-nested">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam,
           adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
      </td>
      </td>
    </tr>

    <tr class="table-expand-row" data-open-details>
      <td>Kevin Lang</td>
      <td>kevina@gmail.com</td>
      <td>Milan</td>
      <td>Italy</td>
      <td>Tech</td>
      <td>TBD <span class="expand-icon"></span></td>
    </tr>

    <tr class="table-expand-row-content">
      <td colspan="8" class="table-expand-row-nested">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam,
           adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
      </td>
      </td>
    </tr>

    <tr class="table-expand-row" data-open-details>
      <td>Leo Ferregani</td>
      <td>luna@gmail.com</td>
      <td>USA</td>
      <td>New York</td>
      <td>Tech</td>
      <td>carried over <span class="expand-icon"></span></td>
    </tr>

    <tr class="table-expand-row-content">
      <td colspan="8" class="table-expand-row-nested">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam,
           adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
      </td>
      </td>
    </tr>

    <tr class="table-expand-row" data-open-details>
      <td>willian Ferrer</td>
      <td>willian@gmail.com</td>
      <td>LA</td>
      <td>USA</td>
      <td>Fashion Design </td>
      <td>stage 2<span class="expand-icon"></span></td>
    </tr>

    <tr class="table-expand-row-content">
      <td colspan="8" class="table-expand-row-nested">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, 
          adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
      </td>
      </td>
    </tr>

    <tr class="table-expand-row" data-open-details>
      <td>Luna Ferregani</td>
      <td>luna@gmail.com</td>
      <td>Milan</td>
      <td>Italy</td>
      <td>Fashion Design / Tech</td>
      <td>paid <span class="expand-icon"></span></td>
    </tr>

    <tr class="table-expand-row-content">
      <td colspan="8" class="table-expand-row-nested">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam,
          adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
      </td>
      </td>
    </tr>

    <tr class="table-expand-row" data-open-details>
      <td>Luna Ferregani</td>
      <td>luna@gmail.com</td>
      <td>Milan</td>
      <td>Italy</td>
      <td>Fashion Design / Tech</td>
      <td>tbd <span class="expand-icon"></span></td>
    </tr>

    <tr class="table-expand-row-content">
      <td colspan="8" class="table-expand-row-nested">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, 
          adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
      </td>
      </td>
    </tr>

    <tr class="table-expand-row" data-open-details>
      <td>Luna Ferregani</td>
      <td>luna@gmail.com</td>
      <td>Milan</td>
      <td>Italy</td>
      <td>Fashion Design / Tech</td>
      <td>3 <span class="expand-icon"></span></td>
    </tr>

    <tr class="table-expand-row-content">
      <td colspan="8" class="table-expand-row-nested">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, 
          adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
      </td>
      </td>
    </tr>

  </tbody>
</table>

    
    <div style="margin-bottom: 90px"></div>
    
       {{!-- /*---------------end of table------------------*/ --}}

  

    <div style="margin-bottom: 90px"></div>
    
    <script>
      
    /*------navbar----------*/
  $("[data-menu-underline-from-center] a").addClass("underline-from-center");

  /*-----------------navbarend-----------*/
      
    /*-----------callout----------*/
    
      $(function(){
      $('[data-callout-hover-reveal]').hover(function(){
        $(this).find('.callout-footer').slideDown(250);
          },function(){
        $(this).find('.callout-footer').slideUp(250);
        });
      })
      
      /*----------------table----------------*/
      $('[data-open-details]').click(function (e) {
      e.preventDefault();
      $(this).next().toggleClass('is-active');
      $(this).toggleClass('is-active');
      });
    
    </script> 
    