
    <nav class="hover-underline-menu" data-menu-underline-from-center>
        <ul class="menu align-center">
          <li><a href="#">Home</a></li>
          <li><a href="#">Client</a></li>
          <li><a href="#">VC</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
    </nav>

    <div class="wrapper">
        <div class="title">
         VC Registration Form
        </div>
        <div class="form">
           <div class="inputfield">
              <label>First Name</label>
              <input type="text" class="input">
           </div>  
            <div class="inputfield">
              <label>Last Name</label>
              <input type="text" class="input">
           </div>  
        
            <div class="inputfield">
              <label>Address</label>
              <textarea class="textarea"></textarea>
             </div> 
            <div class="inputfield">
              <label>City</label>
              <input type="text" class="input">
           </div> 
            <div class="inputfield">
              <label>State</label>
              <input type="text" class="input">
            </div> 
            <div class="inputfield">
                <label>Website</label>
                <input type="text" class="input">
              </div> 
            <div class="inputfield">
                <label>Industries 1</label>
                <input type="insdustries" class="input">
             </div>  
              <div class="inputfield">
                <label>Industries 2</label>
                <input type="industries" class="input">
              </div> 
            <div class="inputfield">
              <label>Stage</label>
              <input type="text" class="input">
           </div> 
           <div class="inputfield">
            <label>Priority</label>
            <input type="text" class="input">
         </div> 
           <div class="inputfield">
            <label>Lead</label>
            <input type="text" class="input">
         </div> 
         <div class="inputfield terms">
            <label class="check">
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <p>Agreed to terms and conditions</p>
         </div> 
          <div class="inputfield">
            <input type="submit" value="Register" class="btn">
          </div>
        </div>
    </div>	
